.card {
    width: 25%;
    border-radius: 10px;
    padding: 30px 0;
    background-color: #dddddd;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 6px 15px -1px rgba(0, 0, 0, 0.77);
}